<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Demo <i>@ngx-web3/ui-payment-btn</i></span>
</div>

<div class="content" role="main">

  <!-- Reactive Form to configure `@ngx-web3/ui-payment-btn` params options -->
  <form *ngIf="form" [formGroup]="form">
    <fieldset>
      <legend>Configure payment button</legend>
      <div>
        <label for="amount">
          Amount: 
          <input type="number" formControlName="amount" placeholder="amount" /><br/>
        </label>
      </div>
      <div>
        <label for="to">
          To: 
          <input type="text" formControlName="to" placeholder="your ens address" /><br/>
        </label>
      </div>
      <div>
        <label for="symbol">
          Currency: 
          <select title="symbol" formControlName="symbol">
            <option value="">Select a token</option>
            <option value="BNB">BNB</option>
            <option value="ETH">ETH</option>
          </select>
        </label>
      </div>
    </fieldset>
  </form>
  <hr/>

  <form>
    <fieldset>
      <legend>Result</legend>
      <p>
        <b>Price: $ {{form?.value?.amount}} USD</b>
      </p>
      <!-- 
          Here `@ngx-web3/ui-payment-btn` demo using `Rreactive From` data value
          You can also use static value or dynamic class property.
          
          Note: to bind dynamic value, you need to use `[attr.ATTRBUT_TO_SET]="YOUR_VALUE"` syntax as below
       -->
      <ngxweb3-payment-btn
          chainid="61"
          [attr.to]="form?.value?.to"
          [attr.symbol]="form?.value?.symbol"s
          [attr.amount]="form?.value?.amount"
          display-error="true"></ngxweb3-payment-btn>

    </fieldset>
  </form>

</div>