:host {
  display: block;
  font-size: 1rem;
  padding: 1rem;
  font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;

  .container {
    margin-bottom: 2rem;

    ngxweb3-payment-btn {
      display: block;
    }
  }

  svg {
    width: 24px;
    fill: #555;
    &:hover {
      fill: #000;
    }
  }

}